In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('bank.csv')

In [3]:
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [4]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
age          11162 non-null int64
job          11162 non-null object
marital      11162 non-null object
education    11162 non-null object
default      11162 non-null object
balance      11162 non-null int64
housing      11162 non-null object
loan         11162 non-null object
contact      11162 non-null object
day          11162 non-null int64
month        11162 non-null object
duration     11162 non-null int64
campaign     11162 non-null int64
pdays        11162 non-null int64
previous     11162 non-null int64
poutcome     11162 non-null object
deposit      11162 non-null object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
x = dataset.iloc[:,0:16].values
y = dataset.iloc[:,16:17].values

In [7]:
x

array([[59, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [56, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [41, 'technician', 'married', ..., -1, 0, 'unknown'],
       ...,
       [32, 'technician', 'single', ..., -1, 0, 'unknown'],
       [43, 'technician', 'married', ..., 172, 5, 'failure'],
       [34, 'technician', 'married', ..., -1, 0, 'unknown']], dtype=object)

In [8]:
y

array([['yes'],
       ['yes'],
       ['yes'],
       ...,
       ['no'],
       ['no'],
       ['no']], dtype=object)

In [9]:
x.shape

(11162, 16)

In [10]:
y.shape

(11162, 1)

In [11]:
dataset["job"].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [12]:
dataset["marital"].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [13]:
dataset["education"].unique()

array(['secondary', 'tertiary', 'primary', 'unknown'], dtype=object)

In [14]:
dataset["default"].unique()

array(['no', 'yes'], dtype=object)

In [15]:
dataset["housing"].unique()

array(['yes', 'no'], dtype=object)

In [16]:
dataset["loan"].unique()

array(['no', 'yes'], dtype=object)

In [17]:
dataset["contact"].unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [18]:
dataset["month"].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [19]:
dataset["poutcome"].unique()

array(['unknown', 'other', 'failure', 'success'], dtype=object)

In [20]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [21]:
ct = ColumnTransformer([('one', OneHotEncoder(), [1,2,3,4,6,7,8,10,15])], remainder = 'passthrough')
x= ct.fit_transform(x)

In [22]:
x.shape

(11162, 51)

In [23]:
ct1 = ColumnTransformer([('one', OneHotEncoder(), [0])], remainder = 'passthrough')
y= ct1.fit_transform(y)

In [24]:
y

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [25]:
y.shape

(11162, 2)

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2,random_state = 0)

In [27]:
print('x shape ', x.shape)
print('y shape ', y.shape)
print('x_train shape ', x_train.shape)
print('x_test shape ', x_test.shape)
print('y_train shape ', y_train.shape)
print('y_test shape', y_test.shape)

x shape  (11162, 51)
y shape  (11162, 2)
x_train shape  (8929, 51)
x_test shape  (2233, 51)
y_train shape  (8929, 2)
y_test shape (2233, 2)

In [28]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [29]:
x_train[0:2,:]

array([[-0.37172192, -0.45760242, -0.17658264, -0.1589378 ,  1.8452729 ,
        -0.27363591, -0.1931085 , -0.30435733, -0.17992689, -0.44212513,
        -0.18025832, -0.08293772, -0.36485864,  0.86351031, -0.66975544,
        -0.39346051,  1.01614555, -0.69993206, -0.21741017,  0.12621015,
        -0.12621015, -1.05825117,  1.05825117,  0.39003722, -0.39003722,
        -1.60273048, -0.27292594,  1.93439945, -0.30193478, -0.39913565,
        -0.09686471, -0.27410848, -0.17488949, -0.39459853, -0.34910544,
        -0.15930776,  1.70870313, -0.30215554, -0.1931085 , -0.16761389,
        -0.35031555, -0.22657536, -0.32939951,  0.58661881,  0.64941897,
        -0.44565283, -0.90504798, -0.2483547 , -0.56394809, -0.48428507,
        -0.35888264],
       [-0.37172192, -0.45760242, -0.17658264, -0.1589378 , -0.54192526,
         3.65449114, -0.1931085 , -0.30435733, -0.17992689, -0.44212513,
        -0.18025832, -0.08293772,  2.7407875 , -1.15806377, -0.66975544,
        -0.39346051,  1.01614555, -0.69993206, -0.21741017,  0.12621015,
        -0.12621015,  0.94495525, -0.94495525,  0.39003722, -0.39003722,
         0.62393522, -0.27292594, -0.51695631, -0.30193478, -0.39913565,
        -0.09686471,  3.64819063, -0.17488949, -0.39459853, -0.34910544,
        -0.15930776, -0.58523917, -0.30215554, -0.1931085 , -0.16761389,
        -0.35031555, -0.22657536, -0.32939951,  0.58661881,  1.48737591,
        -0.31617229, -1.50003939, -0.31759131, -0.56394809, -0.48428507,
        -0.35888264]])

In [30]:
x_train.shape

(8929, 51)

In [31]:
y_train.shape

(8929, 2)

In [32]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [33]:
classification=Sequential()

In [34]:
classification.add(Dense(units=51,kernel_initializer='random_uniform',activation='relu'))

WARNING:tensorflow:From C:\Users\dival\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [35]:
classification.add(Dense(units=102,kernel_initializer='random_uniform',activation='relu'))

In [36]:
classification.add(Dense(units=102,kernel_initializer='random_uniform',activation='relu'))

In [37]:
classification.add(Dense(units=102,kernel_initializer='random_uniform',activation='relu'))

In [38]:
classification.add(Dense(units=102,kernel_initializer='random_uniform',activation='relu'))

In [39]:
classification.add(Dense(units=2,kernel_initializer='random_uniform',activation='softmax'))

In [40]:
classification.compile(optimizer = "adam",loss = "categorical_crossentropy",metrics = ["accuracy"])

In [41]:
classification.fit(x_train,y_train, epochs = 40)

Epoch 1/40
8929/8929 [==============================] - 3s 304us/sample - loss: 0.4415 - acc: 0.7916s - loss: 0.4447 - acc: 0.
Epoch 2/40
8929/8929 [==============================] - 3s 283us/sample - loss: 0.3630 - acc: 0.8463
Epoch 3/40
8929/8929 [==============================] - 3s 312us/sample - loss: 0.3477 - acc: 0.8579s - loss: 0.3
Epoch 4/40
8929/8929 [==============================] - 2s 268us/sample - loss: 0.3337 - acc: 0.8637
Epoch 5/40
8929/8929 [==============================] - 2s 235us/sample - loss: 0.3227 - acc: 0.8673s - loss
Epoch 6/40
8929/8929 [==============================] - 2s 229us/sample - loss: 0.3165 - acc: 0.8705s - loss:  - ETA: 0s - loss: 0.3237
Epoch 7/40
8929/8929 [==============================] - 2s 227us/sample - loss: 0.3111 - acc: 0.8723
Epoch 8/40
8929/8929 [==============================] - 2s 253us/sample - loss: 0.3075 - acc: 0.8734
Epoch 9/40
8929/8929 [==============================] - 3s 297us/sample - loss: 0.2991 - acc: 0.8813s - loss:
Epoch 10/40
8929/8929 [==============================] - 3s 327us/sample - loss: 0.2939 - acc: 0.8812s - l
Epoch 11/40
8929/8929 [==============================] - 2s 247us/sample - loss: 0.2890 - acc: 0.8811
Epoch 12/40
8929/8929 [==============================] - 2s 218us/sample - loss: 0.2842 - acc: 0.8848
Epoch 13/40
8929/8929 [==============================] - 3s 379us/sample - loss: 0.2811 - acc: 0.8892
Epoch 14/40
8929/8929 [==============================] - 5s 603us/sample - loss: 0.2751 - acc: 0.8905
Epoch 15/40
8929/8929 [==============================] - 3s 379us/sample - loss: 0.2753 - acc: 0.8914
Epoch 16/40
8929/8929 [==============================] - 4s 467us/sample - loss: 0.2674 - acc: 0.8920
Epoch 17/40
8929/8929 [==============================] - 3s 305us/sample - loss: 0.2623 - acc: 0.8956
Epoch 18/40
8929/8929 [==============================] - 15s 2ms/sample - loss: 0.2535 - acc: 0.8982
Epoch 19/40
8929/8929 [==============================] - 7s 782us/sample - loss: 0.2491 - acc: 0.9016s - loss: 0.2445 -  - ETA: 2s - loss: 0.2447 -  - ETA: 1s - loss: 0.2
Epoch 20/40
8929/8929 [==============================] - 3s 350us/sample - loss: 0.2460 - acc: 0.9003s - loss
Epoch 21/40
8929/8929 [==============================] - 5s 584us/sample - loss: 0.2375 - acc: 0.9049
Epoch 22/40
8929/8929 [==============================] - 2s 268us/sample - loss: 0.2281 - acc: 0.9077
Epoch 23/40
8929/8929 [==============================] - 3s 331us/sample - loss: 0.2234 - acc: 0.9093
Epoch 24/40
8929/8929 [==============================] - 3s 346us/sample - loss: 0.2178 - acc: 0.9131
Epoch 25/40
8929/8929 [==============================] - 3s 389us/sample - loss: 0.2084 - acc: 0.9162s - loss:
Epoch 26/40
8929/8929 [==============================] - 3s 288us/sample - loss: 0.2072 - acc: 0.9149
Epoch 27/40
8929/8929 [==============================] - 2s 238us/sample - loss: 0.2042 - acc: 0.9178s - l
Epoch 28/40
8929/8929 [==============================] - 2s 264us/sample - loss: 0.1906 - acc: 0.9232
Epoch 29/40
8929/8929 [==============================] - 3s 326us/sample - loss: 0.1834 - acc: 0.9265
Epoch 30/40
8929/8929 [==============================] - 6s 639us/sample - loss: 0.1823 - acc: 0.9246
Epoch 31/40
8929/8929 [==============================] - 3s 292us/sample - loss: 0.1712 - acc: 0.9273
Epoch 32/40
8929/8929 [==============================] - 2s 263us/sample - loss: 0.1657 - acc: 0.9308
Epoch 33/40
8929/8929 [==============================] - 3s 314us/sample - loss: 0.1646 - acc: 0.9308s
Epoch 34/40
8929/8929 [==============================] - 3s 323us/sample - loss: 0.1520 - acc: 0.9349
Epoch 35/40
8929/8929 [==============================] - 3s 370us/sample - loss: 0.1543 - acc: 0.9343
Epoch 36/40
8929/8929 [==============================] - 3s 280us/sample - loss: 0.1562 - acc: 0.9363
Epoch 37/40
8929/8929 [==============================] - 2s 227us/sample - loss: 0.1461 - acc: 0.9393
Epoch 38/40
8929/8929 [==============================] - 3s 282us/sample - loss: 0.1335 - acc: 0.9438
Epoch 39/40
8929/8929 [==============================] - 2s 278us/sample - loss: 0.1313 - acc: 0.9453
Epoch 40/40
8929/8929 [==============================] - 4s 474us/sample - loss: 0.1264 - acc: 0.9443

In [42]:
ypred = classification.predict(x_test)

In [43]:
ypred

array([[1.0000000e+00, 9.2585391e-18],
       [2.9258543e-13, 1.0000000e+00],
       [1.0000000e+00, 1.1591440e-12],
       ...,
       [1.5726133e-01, 8.4273869e-01],
       [9.9177682e-01, 8.2231332e-03],
       [9.9999988e-01, 7.4328447e-08]], dtype=float32)

In [44]:
ypred = ypred >0.5

In [45]:
ypred

array([[ True, False],
       [False,  True],
       [ True, False],
       ...,
       [False,  True],
       [ True, False],
       [ True, False]])

In [46]:
y_test

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [47]:
dataset.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes

In [48]:
p=classification.predict(sc.transform(ct.transform([[59,'admin.','married','secondary','no',2343,'yes','no','unknown',5,'may',1042,1,-1,0,'unknown']])))

In [50]:
deposit = ["no","yes"]
prediction = deposit[np.argmax(p)]

In [51]:
prediction

'yes'